<div class="product-list">
    <h1>All Product List</h1>
    <p class="message-p">{{productMessage}}</p>
    <table class="table table-light">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Color</th>
                <th>Category</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
            
        </thead>
        <tbody>
            <tr *ngFor="let item of productList">
                <td><img src="{{item.pLink}}"></td>
                <td>{{item.pName}}</td>
                <td>{{item.pPrice}}</td>
                <td>{{item.pColor}}</td>
                <td>{{item.pCategory}}</td>
                <td>{{item.pDescription}}</td>
                <td>
                <button class="btn btn-outline-success m-2" routerLink="/seller-update-product/{{item.id}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                <button class="btn btn-outline-danger" (click)="deleteProduct(item.id)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
                
            </tr>
        </tbody>
    </table>
</div>

